
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div class="container main-secction">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 image-section">
                <img src="../../../assets/images/profile/profile/working_on_linkedin_profile_strenghts.jpg">
            </div>
            <div class="row user-left-part">
                <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
                    <div class="row ">
                        <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                            <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" class="rounded-circle">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
                            <button id="btn-contact" data-toggle="modal" data-target="#contact" class="btn btn-success btn-block follow" style="background-color: #404040;">Request Info</button>
                            <button class="btn btn-clear btn-block" data-toggle="modal" data-target="#accInfo">Account Information</button>
                            <button class="btn btn-clear btn-block" data-toggle="modal" data-target="#returnproduct">Return Products</button>
                            <button class="btn btn-clear btn-block" data-toggle="modal" data-target="#login">Login</button>
                            <button class="btn btn-clear btn-block" data-toggle="modal" data-target="#wishlist">My Wishlist</button>
                        </div>
                        <div class="row user-detail-row">
                            <div class="col-md-12 col-sm-12 user-detail-section2 pull-left">
                                <div class="border"></div>
                                <p></p>
                                <span></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
                    <div class="row profile-right-section-row">
                        <div class="col-md-12 profile-header">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                                    <h1>Customer</h1>
                                    <h5>Welcome to user profile</h5>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-6 profile-header-section1 text-right pull-rigth">
                                    <a href="#" class="btn btn-clear btn-block">search</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                        <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                  <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><i class="fas fa-user-circle"></i>Contact Information</a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link" href="#buzz" role="tab" data-toggle="tab"><i class="fas fa-info-circle"></i> More Information</a>
                                                </li>
                                              </ul>

                                              <!-- Tab panes -->
                                              <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade show active" id="profile">
                                                        <div class="row">
                                                                <div class="col-md-2">
                                                                    <label>user</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <label> Email</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p> <button class="btn btn-clear btn-block"  data-toggle="modal" data-target="#cemail">Edit</button>     </p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <label>News letter</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p><button class="btn btn-clear btn-block"  data-toggle="modal" data-target="#s">Edit</button></p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <label>Address Book</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p><button class="btn btn-clear btn-block"  data-toggle="modal" data-target="#returnproduct">Edit Address</button></p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <label>Default shipping address</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p><button class="btn btn-clear btn-block"  data-toggle="modal" data-target="#returnproduct">Edit Address</button></p>
                                                                </div>
                                                            </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="buzz">
                                                        <div class="row">
                                                                <div class="col-md-6">
                                                                    <label></label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p> </p>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Customer feedback</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p><form action="/action_page.php">
                                                                       feedback <input type="text" name="fname"><br>

                                                                       <p><button class="btn btn-clear btn-block">Submit</button></p>
                                                                     <p> </form>
                                                                </div>
                                                            </div> -->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Choose Language</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p><select class="selectpicker" data-width="fit">
                                                                        <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                                                                      <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>French</option>
                                                                      <option data-content='<span class="flag-icon flag-icon-us"></span> English'>Sinhala</option>
                                                                      <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>tamil</option>
                                                                    </select></p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Recommendations</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label><form action="#----------------------" method="post" accept-charset="utf-8">
                                                                        <fieldset><legend>Review Us</legend>
                                                                            <div class="row">
                                                                                <div class="cl-sm-4 my-2">
                                                                                    <input type="radio" name="rating" value="3" /> 1 <img class="rate-img" src="../../../assets/images/profile/profile/smiley-427160__340.jpg" ><br>

                                                                                  </div>
                                                                                  <div class="cl-sm-4 my-2">
                                                                                    <input type="radio" name="rating" value="3" /> 2 <img class="rate-img" src="../../../assets/images/profile/profile/3e90e8bfe2328d42174d3c3743977cdf.png" ><br>

                                                                                  </div>
                                                                                  <div class="cl-sm-4 my-2">
                                                                                    <input type="radio" name="rating" value="3" /> 3 <img class="rate-img" src="../../../assets/images/profile/profile/images.jpg" ><br>

                                                                                  </div>
                                                                            </div>

                                                                        <p><label >Review</label><textarea name="review" rows="8" cols="40">
                                                                           </textarea></p>
                                                                        <p><input type="submit" value="Submit Review"></p>
                                                                        <input type="hidden" name="product_type" value="actual_product_type" id="product_type">
                                                                        <input type="hidden" name="product_id" value="actual_product_id" id="product_id">
                                                                    </fieldset>
                                                                    </form></label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <label></label>
                                                                    <br/>
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                </div>

                                              </div>

                                </div>
                                <div class="col-md-4 img-main-rightPart">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row image-right-part">
                                                <div class="col-md-6 pull-left image-right-detail">
                                                    <h6></h6>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <a href="#">
                                            <div class="col-md-12 video-right">
                                                <div id="myCarousel" class="carousel slide" data-ride="carousel"> -->
                                                    <!-- Indicators
                                                    <ol class="carousel-indicators">
                                                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                                      <li data-target="#myCarousel" data-slide-to="1"></li>
                                                      <li data-target="#myCarousel" data-slide-to="2"></li>
                                                    </ol>

                                                    <Wrapper for slides -->
                                                    <!-- <div class="carousel-inner">
                                                      <div class="item active">
                                                        <img src="../../../assets/images/profile/2.jpg" alt="clothes">
                                                      </div>

                                                      <div class="item">
                                                        <img src="../../../assets/images/profile/3.jpg" alt="Chicago">
                                                      </div> -->

                                                      <!-- <div class="item">
                                                        <img src="" alt="New York">
                                                      </div> -->
                                                    </div>

                                                    <!-- Left and right controls -->
                                                    <!-- <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                                      <span class="glyphicon glyphicon-chevron-left"></span>
                                                      <span class="sr-only">Previous</span>
                                                    </a>
                                                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                                      <span class="glyphicon glyphicon-chevron-right"></span>
                                                      <span class="sr-only">Next</span>
                                                    </a>
                                                  </div>
                                            </div>
                                        </a> -->

                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header"  (mouseenter)="readDescription('Contact  Us')" >
                    <h5 class="modal-title" >Contact Us</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <form action="" method="post">
                <div class="modal-body">
                    <div (mouseenter)="readDescription('We will provide you a grateful trustworthy service')" class="form-group">
                        <p> We will provide you a grateful trustworthy service </p>
                    </div>
                    <div class="form-group">
                        <label for="txtFullname" (mouseenter)="readDescription('Name')">Name</label>
                        <input type="text" id="txtFullname"  (mouseenter)="readDescription('click here to type your Name ')"  class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="txtEmail" (mouseenter)="readDescription('E-Mail')">Email</label>
                        <input type="email" id="txtEmail" (mouseenter)="readDescription('click here to type your E-Mail ')"  class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="txtPhone" (mouseenter)="readDescription('Telephone Number')">Telephone Number</label>
                        <input type="text" (mouseenter)="readDescription('click here to type your Telephone Number ')" id="txtPhone" class="form-control" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  (mouseenter)="readDescription('click here to Cancel this form ')" data-dismiss="modal">Cancel</button>
                    <!-- <button type="submit" class="btn btn-clear" (mouseenter)="readDescription('click here to Submit this form ')"  data-dismiss="modal">Submit</button> -->
                    <input type="submit" class="btn btn-clear" value="Submit">
                </div>

              </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="cemail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header"  (mouseenter)="readDescription('Contact  Us')" >
                    <h5 class="modal-title" >Edit Email</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txtEmail" (mouseenter)="readDescription('E-Mail')">Email</label>
                        <input type="text" id="txtEmail" (mouseenter)="readDescription('click here to type your E-Mail ')"  class="form-control">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  (mouseenter)="readDescription('click here to Cancel this form ')" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-clear" (mouseenter)="readDescription('click here to Submit this form ')"  data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="nwsltr" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header"  (mouseenter)="readDescription('Contact  Us')" >
                    <h5 class="modal-title" >News letter</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txtEmail" (mouseenter)="readDescription('E-Mail')">News Letter</label>
                        <input type="text" id="txtEmail" (mouseenter)="readDescription('click here to type your E-Mail ')"  class="form-control">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  (mouseenter)="readDescription('click here to Cancel this form ')" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-clear" (mouseenter)="readDescription('click here to Submit this form ')"  data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="newsletter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header"  (mouseenter)="readDescription('Contact  Us')" >
                    <h5 class="modal-title" >Contact Us</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div (mouseenter)="readDescription('We will provide you a grateful trustworthy service')" class="form-group">
                        <p> We will provide you a grateful trustworthy service </p>
                    </div>
                    <div class="form-group">
                        <label for="txtFullname" (mouseenter)="readDescription('Name')">Name</label>
                        <input type="text" id="txtFullname"  (mouseenter)="readDescription('click here to type your Name ')"  class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtEmail" (mouseenter)="readDescription('E-Mail')">Email</label>
                        <input type="text" id="txtEmail" (mouseenter)="readDescription('click here to type your E-Mail ')"  class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtPhone" (mouseenter)="readDescription('Telephone Number')">Telephone Number</label>
                        <input type="text" (mouseenter)="readDescription('click here to type your Telephone Number ')" id="txtPhone" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  (mouseenter)="readDescription('click here to Cancel this form ')" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-clear" (mouseenter)="readDescription('click here to Submit this form ')"  data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header"  (mouseenter)="readDescription('Contact  Us')" >
                    <h5 class="modal-title" >Contact Us</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div (mouseenter)="readDescription('We will provide you a grateful trustworthy service')" class="form-group">
                        <p> We will provide you a grateful trustworthy service </p>
                    </div>
                    <div class="form-group">
                        <label for="txtFullname" (mouseenter)="readDescription('Name')">Name</label>
                        <input type="text" id="txtFullname"  (mouseenter)="readDescription('click here to type your Name ')"  class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtEmail" (mouseenter)="readDescription('E-Mail')">Email</label>
                        <input type="text" id="txtEmail" (mouseenter)="readDescription('click here to type your E-Mail ')"  class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtPhone" (mouseenter)="readDescription('Telephone Number')">Telephone Number</label>
                        <input type="text" (mouseenter)="readDescription('click here to type your Telephone Number ')" id="txtPhone" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  (mouseenter)="readDescription('click here to Cancel this form ')" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-clear" (mouseenter)="readDescription('click here to Submit this form ')"  data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header"  (mouseenter)="readDescription('Contact  Us')" >
                    <h5 class="modal-title" >Contact Us</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div (mouseenter)="readDescription('We will provide you a grateful trustworthy service')" class="form-group">
                        <p> We will provide you a grateful trustworthy service </p>
                    </div>
                    <div class="form-group">
                        <label for="txtFullname" (mouseenter)="readDescription('Name')">Name</label>
                        <input type="text" id="txtFullname"  (mouseenter)="readDescription('click here to type your Name ')"  class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtEmail" (mouseenter)="readDescription('E-Mail')">Email</label>
                        <input type="text" id="txtEmail" (mouseenter)="readDescription('click here to type your E-Mail ')"  class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtPhone" (mouseenter)="readDescription('Telephone Number')">Telephone Number</label>
                        <input type="text" (mouseenter)="readDescription('click here to type your Telephone Number ')" id="txtPhone" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  (mouseenter)="readDescription('click here to Cancel this form ')" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-clear" (mouseenter)="readDescription('click here to Submit this form ')"  data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="returnproduct" tabindex="-1" role="dialog" aria-labelledby="wishlistTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" i>Address book</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="form-group">
            <label for="txtEmail" (mouseenter)="readDescription('E-Mail')">Email</label>
            <input type="text" id="txtEmail" (mouseenter)="readDescription('click here to type your E-Mail ')"  class="form-control">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary"  (mouseenter)="readDescription('click here to Cancel this form ')" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-clear" (mouseenter)="readDescription('click here to Submit this form ')"  data-dismiss="modal">Submit</button>
        </div>
          <!-- <div class="modal-body">
            <app-wishlist></app-wishlist>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div> -->
        </div>
      </div>
    </div>

    <!-- wishlist modal-->
    <div class="modal fade" id="wishlist" tabindex="-1" role="dialog" aria-labelledby="wishlistTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">My Wishlist</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <app-wishlist></app-wishlist>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="wishlistTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" >Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group">
              <label for="txtEmail" (mouseenter)="readDescription('E-Mail')">Email</label>
              <input type="text" id="txtEmail" (mouseenter)="readDescription('click here to type your E-Mail ')"  class="form-control  required">
            </div>
            <div class="form-group">
              <label for="txtPhone" (mouseenter)="readDescription('Telephone Number')">Password</label>
              <input type="text" (mouseenter)="readDescription('click here to type your Telephone Number ')" id="txtPhone" class="form-control">
            </div>          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

        <!-- wishlist modal-->
        <div class="modal fade" id="wishlist" tabindex="-1" role="dialog" aria-labelledby="accInfoTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content" >
                <div class="modal-header" >
                  <h5 class="modal-title" >My Account Information</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <app-acc-info></app-acc-info>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <!-- acc info modal-->
          <div class="modal fade" id="accInfo" tabindex="-1" role="dialog" aria-labelledby="accInfoTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header" (mouseenter)="readDescription('My Account Information')">
                      <h5 class="modal-title" >My Account Information</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <app-acc-info ></app-acc-info>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" (mouseenter)="readDescription('click here to close this popup ') ">Close</button>
                    </div>
                  </div>
                </div>





              </div>
</body>
