
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div class="container main-secction">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 image-section">
                <img src="https://png.pngtree.com/thumb_back/fw800/back_pic/00/08/57/41562ad4a92b16a.jpg">
            </div>
            <div class="row user-left-part">
                <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
                    <div class="row ">
                        <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                            <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png" class="rounded-circle">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 user-detail-section1 text-center">
                            <button id="btn-contact" (click)="clearModal()" data-toggle="modal" data-target="#contact" class="btn btn-success btn-block follow">Request Info</button>
                            <button class="btn btn-clear btn-block">Account Information</button>

                            <button class="btn btn-clear btn-block">Return Products</button>
                            <button class="btn btn-clear btn-block">Login & Security</button>
                            <button class="btn btn-clear btn-block">My Wishlist</button>
                        </div>
                        <div class="row user-detail-row">
                            <div class="col-md-12 col-sm-12 user-detail-section2 pull-left">
                                <div class="border"></div>
                                <p>FOLLOWER</p>
                                <span>320</span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
                    <div class="row profile-right-section-row">
                        <div class="col-md-12 profile-header">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                                    <h1>Customer</h1>
                                    <h5>Welcome to user profile</h5>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-6 profile-header-section1 text-right pull-rigth">
                                    <a href="#" class="btn btn-clear btn-block">search</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                        <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                  <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><i class="fas fa-user-circle"></i>Contact Information</a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link" href="#buzz" role="tab" data-toggle="tab"><i class="fas fa-info-circle"></i> More Information</a>
                                                </li>
                                              </ul>

                                              <!-- Tab panes -->
                                              <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade show active" id="profile">
                                                        <div class="row">
                                                                <div class="col-md-2">
                                                                    <label>user</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <label> Email</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p> <button class="btn btn-clear btn-block">Edit</button>     </p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <label>News letter</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p><button class="btn btn-clear btn-block">Edit</button></p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <label>Address Book</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p><button class="btn btn-clear btn-block">Edit Address</button></p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                    <label>Default shipping address</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p><button class="btn btn-clear btn-block">Edit Address</button></p>
                                                                </div>
                                                            </div>
                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="buzz">
                                                        <div class="row">
                                                                <div class="col-md-6">
                                                                    <label></label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p> </p>
                                                                </div>
                                                            </div>
                                                            <!-- <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Customer feedback</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p><form action="/action_page.php">
                                                                       feedback <input type="text" name="fname"><br>

                                                                       <p><button class="btn btn-clear btn-block">Submit</button></p>
                                                                     <p> </form>
                                                                </div>
                                                            </div> -->
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Choose Language</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p><select class="selectpicker" data-width="fit">
                                                                        <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
                                                                      <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>French</option>
                                                                      <option data-content='<span class="flag-icon flag-icon-us"></span> English'>Sinhala</option>
                                                                      <option  data-content='<span class="flag-icon flag-icon-mx"></span> Español'>tamil</option>
                                                                    </select></p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label>Recommendations</label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <label><form action="thispage.php" method="post" accept-charset="utf-8">
                                                                        <fieldset><legend>Review Us</legend>
                                                                        <p><label for="rating">Rating</label><input type="radio" name="rating"
                                                                          value="5" /> 5 <input type="radio" name="rating" value="4" /> 4
                                                                          <input type="radio" name="rating" value="3" /> 3 <input type="radio"
                                                                          name="rating" value="2" /> 2 <input type="radio" name="rating" value="1" /> 1</p>
                                                                        <p><label for="review">Review</label><textarea name="review" rows="8" cols="40">
                                                                           </textarea></p>
                                                                        <p><input type="submit" value="Submit Review"></p>
                                                                        <input type="hidden" name="product_type" value="actual_product_type" id="product_type">
                                                                        <input type="hidden" name="product_id" value="actual_product_id" id="product_id">
                                                                    </fieldset>
                                                                    </form></label>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <label></label>
                                                                    <br/>
                                                                    <p></p>
                                                                </div>
                                                            </div>
                                                </div>

                                              </div>

                                </div>
                                <div class="col-md-4 img-main-rightPart">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row image-right-part">
                                                <div class="col-md-6 pull-left image-right-detail">
                                                    <h6>COMMING SOON</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="#">
                                            <div class="col-md-12 video-right">
                                                <img src="https://media.giphy.com/media/9Pmf3QJiDHwyftez6i/giphy.gif" width="220" height="120">
                                                <!-- <video width="220" height="120" autoplay> -->
<!--
                                                    <source src="" type="">


                                                </video> -->
                                            </div>
                                        </a>
                                        <div class="col-md-12 image-right-detail-section2">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contact">Contact Us</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p for="msj"><p> We will provide you a grateful trustworthy service </p>
                    </div>
                    <div class="form-group">
                        <label for="txtFullname">Name</label>
                        <input type="text" id="txtFullname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Email</label>
                        <input type="text" id="txtEmail" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtPhone">Telephone Number</label>
                        <input type="text" id="txtPhone" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-clear" (click)="openModal()" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
</body>
