<div class="container">
    <section class="topCategories">
        <h3 class="h3">Top Category</h3>
        <div class="row mb-4">
            <div class="col-md-3 col-sm-6" *ngFor="let topCategory of TopCategory">
                <div class="product-grid2">
                    <div class="product-image2">
                        <a routerLink="products-category/{{ topCategory.Name }}">
                            <img class="pic-1" src="{{ topCategory.Image }}">
                            <img class="pic-2" src="{{ topCategory.Image }}">
                        </a>
                        <a class="add-to-cart" routerLink="products-category/{{ topCategory.Name }}">{{ topCategory.Name }}</a>
                    </div>
                </div>
            </div>

            <!-- <div class="col-md-3 col-sm-6">
                <div class="product-grid2">
                    <div class="product-image2">
                        <a routerLink="products-category/sport">
                            <img class="pic-1" src="../../../assets/images/products/sports/download.jpg">
                            <img class="pic-2" src="../../../assets/images/products/sports/download.jpg">
                        </a>
                        <a class="add-to-cart" routerLink="products-category/sport">Sports</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid2">
                    <div class="product-image2">
                        <a routerLink="products-category/toys">
                            <img class="pic-1" src="../../../assets/images/products/toys/images.jpg">
                            <img class="pic-2" src="../../../assets/images/products/toys/images.jpg">
                        </a>
                        <a class="add-to-cart" routerLink="products-category/toys">Toys</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid2">
                    <div class="product-image2">
                        <a routerLink="products-category/vehicle">
                            <img class="pic-1" src="../../../assets/images/products/vehicles/download (1).jpg">
                            <img class="pic-2" src="../../../assets/images/products/vehicles/download (1).jpg">
                        </a>
                        <a class="add-to-cart" routerLink="products-category/garden">Vehicles</a>
                    </div>
                </div>
            </div> -->
        </div>
    </section>
    <section class="latestProducts">
        <h3 class="h3">Latest Products</h3>
        <div class="row mb-4">
            <div class="col-md-3 col-sm-6">
                <div class="product-grid2">
                    <div class="product-image2">
                        <a routerLink="products-detail/1">
                            <img class="pic-1" src="../../../assets/images/products/toys/download.jpg">
                            <img class="pic-2" src="../../../assets/images/products/toys/download.jpg">
                        </a>
                        <a class="add-to-cart" routerLink="/products-detail/1">Mercedes Benz SUV G55 AMG</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid2">
                    <div class="product-image2">
                        <a routerLink="products-detail/1">
                            <img class="pic-1" src="../../../assets/images/products/electric items/images.jpg">
                            <img class="pic-2" src="../../../assets/images/products/electric items/images.jpg">
                        </a>
                        <a class="add-to-cart" routerLink="products-detail/1">Drone MA Hoverbike 3</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid2">
                    <div class="product-image2">
                        <a routerLink="products-detail/1">
                            <img class="pic-1" src="../../../assets/images/products/sports/download (1).jpg">
                            <img class="pic-2" src="../../../assets/images/products/sports/download (1).jpg">
                        </a>
                        <a class="add-to-cart" routerLink="products-detail/1">Adidas Bazooka Football</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="product-grid2">
                    <div class="product-image2">
                        <a routerLink="products-detail/1">
                            <img class="pic-1" src="../../../assets/images/products/vehicles/download.jpg">
                            <img class="pic-2" src="../../../assets/images/products/vehicles/download.jpg">
                        </a>
                        <a class="add-to-cart" routerLink="products-detail/1">Mini Cooper Countryman</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
