<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Arngren.net</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (mouseenter)="readLinkDescription('Home')" routerLinkActive="active" routerLink="">{{ 'HOME' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (mouseenter)="readLinkDescription('About Us')" routerLinkActive="active" routerLink="">About Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="nav-drop-list">
            <ul>
              <li *ngFor="let cat of category" >
                  <a routerLink="">{{ cat.CatgoryName }}</a>
              </li>
            </ul>
          </div>
          <div class="curtion">
          <div class="row">
              <div class="col-md-4" *ngFor="let cat of category" >
                <h6>{{ cat.CatgoryName }}</h6>
                <ul>
                  <li *ngFor="let subcat of cat.SubCategory" >
                    <a routerLink="">{{ subcat.SubCatgoryName }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/contact-us">Contact Us</a>
      </li>
      <li style="min-width: 400px;"></li>
      <li class="nav-item">
        <select #lan (change)="changeLanguage(lan.value)">
          <option value="en">EN</option>
          <option value="si">SI</option>
          <option value="ta">TA</option>
        </select>
      </li>
      <li class="nav-item">
          <button type="button" class="btn-clear" autofocus (click)="enableTextSpeach()"><i class="fa fa-wheelchair-alt"></i></button>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user user-icon"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/my-profile">Profile</a>
            <a class="dropdown-item" routerLink="cart">My Cart</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Setting</a>
          </div>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn search-btn my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
