<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">Arngren.net</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLinkActive="active" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/about-us">About Us</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Category
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <div class="nav-drop-list">
            <ul>
              <li *ngFor="let cat of category" >
                  <a routerLink="">{{ cat.CatgoryName }}</a>
              </li>
            </ul>
          </div>
          <div class="curtion">
          <div class="row">
              <div class="col-md-4" *ngFor="let cat of category" >
                <h6>{{ cat.CatgoryName }}</h6>
                <ul>
                  <li *ngFor="let subcat of cat.SubCategory" >
                    <a routerLink="">{{ subcat.SubCatgoryName }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/contact-us">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn search-btn my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
