<div id="wishlistCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card" alt="First slide">
            <img class="card-img-top" src="../../../assets/images/profile/profile/shree-durga-electric-co-kolkata-gpo-kolkata-electrical-goods-dealers-rst5or.jpg" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">
                  Name: {{itemName1}}</p>
            </div>
          </div>
      </div>
      <div class="carousel-item">
          <div class="
          
          
          
          
          
          
          
          
          " alt="Second slide">
              <img class="card-img-top" src="../../../assets/images/profile/profile/05151397_zi_brown.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                  Name: {{itemName2}}</p>
              </div>
            </div>
        </div>
      <div class="carousel-item">
          <div class="card" alt="Third slide">
              <img class="card-img-top" src="../../../assets/images/profile/profile/download (1).jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">
                    Name: {{itemName3}}</p>
              </div>
            </div>
        </div> 
    </div>
    <a class="carousel-control-prev" href="#wishlistCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#wishlistCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
