/* You can add global styles to this file, and also import other style files */

@import "~assets/css/Footer-Clean.css";
@import "~assets/fonts/ionicons.min.css";
@import "../node_modules/font-awesome/css/font-awesome.css";


.bg-light{
  background-color: #c7c2c3f5!important;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

nav > div > ul > li > a {
  font-size: 15px;
}

.search-btn{
  color: #08090a;
  border-color: #0e130f;
}

.curtion{
  min-width: 500px;
  padding: 10px;
  display: block !important;
}

.curtion > div > div {
  padding-top: 10px;
}

.nav-drop-list{
  display: none !important;
}

.curtion > div > div > h6{
  font-size: 13px;
}

.curtion > div > div > ul{
  list-style: none !important;
  padding-left:10px;
}

.curtion > div > div > ul > li > a{
  font-size: 11px;
  text-decoration: none;
  color: #777;
}

@media(max-width:600px){
  .curtion{
    display: none !important;
  }
  .nav-drop-list{
    display: block !important;
  }
}

hr.style-one {
  width: 70%;
  border: 0;
  height: 2px;
  background: #333;
  background-image: linear-gradient(to right, #FFF, #333, #FFF);
}

.user-label{
  font-size: 12px;
}

.user-control{
  font-size: 12px;
}

