
<div class="row">
    <div class="col-md-9">
        <h3 class="h3 text-uppercase">{{ Heading }}</h3>
        <hr class="style-one">
        <div class="product-container">
            <div class="row">

                <div class="col-md-12 col-sm-12 text-center py-4" *ngIf="Products.length <= 0">
                  <h4>No Items Here..</h4>
                </div>

                <div class="col-md-3 col-sm-6" *ngFor="let product of Products">
                    <div class="product-grid2">
                        <div class="product-image2">
                            <a routerLink="product-details/{{ product.Id }}">
                                <img class="pic-1" src="{{ product.Image }}">
                                <img class="pic-2" src="{{ product.Image }}">
                            </a>
                            <ul class="social">
                                <li><a routerLink="product-details/{{ product.Id }}" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                <!-- <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li> -->
                                <li><a routerLink="../../cart" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product-content">
                            <h3 class="title"><a routerLink="product-details/{{ product.Id }}">{{ product.Name }}</a></h3>
                            <span class="price">${{ product.Price }}</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="col-md-3">
        <app-side-bar (search)="onSearch($event)" ></app-side-bar>
    </div>
</div>

